data/raw/gt30h1ksa/sa_asp.bil filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_cti.hdr filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/readme.sa filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_fa.blw filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_fa.stx filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_slope.stx filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_asp.stx filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_fa.hdr filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_fd.hdr filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_slope.blw filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_bas.e00 filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_dem.bil filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_dem.prj filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_fa.bil filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_str.e00 filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_cti.bil filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_cti.blw filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_fd.blw filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_cti.stx filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_slope.hdr filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_asp.blw filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_fd.stx filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_asp.hdr filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_dem.blw filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_dem.hdr filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_dem.stx filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_fd.bil filter=lfs diff=lfs merge=lfs -text
data/raw/gt30h1ksa/sa_slope.bil filter=lfs diff=lfs merge=lfs -text
add filter=lfs diff=lfs merge=lfs -text
data/raw/bacia_do_parana/ filter=lfs diff=lfs merge=lfs -text
